@import url('https://fonts.googleapis.com/css?family=Caveat|Oswald&display=swap');
body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background-color: #E4DEDF;
    user-select: none;
}

#canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(1px)
}
h3 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #014b5c;
    font-family: 'Oswald', sans-serif;
}

.gold{color: #766c1d}


.card {
    color: #013243;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: #e0e1dc;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,.2), 20px 0 60px rgba(0,0,0,.3);
    transition: 2s;
}

.card:hover {
    transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.1);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,.1);
}

.card:before {
    content:'';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #c6d7d1;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 2px;
    height: 100%;
    background: #b1c2bc;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBlock {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transition: .5s;
    filter: brightness(0.9)
}

.card .bg-card {
    position: absolute;
    background: #e0e1dc;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s;
}

.card .imgBlock img {
    min-width: 250px;
    max-height: 400px;
}

.card:hover .imgBlock {
    transform: rotateY(-135deg);
}

.card:hover .bg-card {
    opacity: 2;
    transition: .5s;
    box-shadow: 300px 200px 100px rgba(0, 0, 0, .3) inset;
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    width: 100%;
    height: 100%;
}
p{
    font-size: 22px;
    line-height: 20px;
    transform: rotate(-5deg);
    padding: 0 20px 0 20px;
    margin: 0;
}
.text-right{
    text-align: right;
    margin: 30px 20px 0 0;
    font-size: 18px;
}